/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  max-width: 600px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario en la página */
  padding: 20px; /* Espaciado interno */
}

/* Estilo para cada grupo de campos (div.mb-3) */
.mb-3 {
  margin-bottom: 15px; /* Espacio entre cada grupo de campos */
  width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
}

/* Ajustes para las etiquetas de los labels */
label {
  margin-bottom: 5px; /* Espacio inferior entre etiquetas */
  font-weight: bold; /* Hace que las etiquetas sean más notables */
}

/* Estilo para hacer que SweetAlert ocupe toda la pantalla */
.swal2-popup {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background: rgba(0, 0, 0, 0.6) !important; /* Fondo semi-transparente */
  overflow-y: auto !important; /* Permite el desplazamiento vertical si es necesario */
}

.swal2-modal {
  width: 80% !important; /* Ancho del modal */
  max-width: 600px; /* Ancho máximo del modal */
  margin: 10vh auto !important; /* Centrado vertical y horizontal */
  padding: 20px; /* Espaciado interno */
  background: #333; /* Color de fondo del modal */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra */
}

.swal2-title {
  font-size: 2rem !important; /* Tamaño del título */
  color: white !important; /* Color del texto */
}

.swal2-content {
  font-size: 1.6rem !important; /* Tamaño del contenido */
  color: white !important; /* Color del texto */
}

.swal2-actions {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px; /* Espacio encima de los botones */
}

.swal2-confirm, .swal2-cancel {
  width: 150px !important; /* Ancho de los botones */
  margin: 0 10px !important;
  font-size: 1.6rem; /* Tamaño de fuente de los botones */
}
